@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');

body {
    height: 100%;
    background-color: rgba(5, 6, 32, 1);
    
}

body::before {
    content: "";
    position: absolute;
    top: 54px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background-image: url(https://images.pexels.com/photos/1616113/pexels-photo-1616113.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=1200&w=1920);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(10px);
    transform: scale(1);
    opacity: 0.7;
}

html {
    height: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto; 

}

h1 {
    font-family: "Playfair Display SC", serif;
    font-size: 45px;
    font-weight: 400;
    color: #ecf0f1;
    letter-spacing: 2px;
    margin: 0 0 40px 0;
}

p, li, a, .med__button {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    color: #ecf0f1;
    text-decoration: none;
}

/* header */

header {
    background-color: darkkhaki;
    margin-bottom: 0;
    grid-column: span 12;
    height: fit-content;  
}

.logo {
    width: 131px;
    height: 18px;
    margin-left: 20px;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px; 
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 0;
    margin-right: 20px;
    height: 58px;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: #eaeaea;
    height: 3px;
    width: 28px;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

nav {
    background:  rgb(189,183,107, 0.9);
    width: 100%;
    position: absolute;
    text-align: center;
    padding: 15px;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 300ms ease-in-out;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    display: inline;
    margin: 0 10px;
}

nav li a {
    color: #eaeaea;
    text-decoration: none;
    transition: color 0.3s ease 0s,
                opacity 0.15s ease-in-out;
                
    opacity: 0;
}

nav li a:hover {
    color: #2d2d2d;
}

.nav-toggle:checked ~ nav {
    transform: scale(1, 1)
}

.nav-toggle:checked ~ nav li a {
    opacity: 1;
    transition: opacity 0.25s ease-in-out 0.15s;
}

.contact_button_menu {
    display: none;
}


/* content */




.hero__content {
    grid-column: span 12;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    margin-top: 100px;
    padding: 0px 5%;
}

.hero__text {
    grid-column: span 12;
    margin-right: 40px;
    margin-bottom: 60px;
}

.hero__subtitle {
    text-transform: uppercase;
    font-weight: 600;
    margin: 0 0 15px 0;
}

.hero__video {
    grid-column: span 12;
    margin-bottom: 60px;
}

.wistia_swatch, .w-chrome {
    border-radius: 6px;
}

.play__section {
    display: flex;
    align-items: center;
}

.play__button {
    display: flex;
    justify-content: center;
    min-width: 50px;
    min-height: 50px;
    margin-right: 20px;
    background: rgb(189,183,107,1);
    border-radius: 50%;
    animation: pulse 2s infinite;
    cursor: pointer;
}

.play__button img {
    width: 13px;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.7);
    }
    100% {
        box-shadow: 0 0 5px 12px rgba(255, 255, 255, 0);
    }
}

@media screen and (min-width: 1200px) {
    .hero__content {
        margin-top: 200px;
    }
    .hero__text, .hero__video {
        grid-column: span 6;
    }
    .hero__text, .hero__video {
        margin-bottom: 0;
    }

    /* header */

    .nav-toggle-label {
        display: none;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav {
        all: unset;
    }

    nav li {
        margin: 0 20px;
    }

    nav li a {
        opacity: 1;
    }

    .contactdissapear{
        display: none;
    }

    .contact_button_menu {
        display: block;
    }

    .med__button {
        font-family: "PT Sans", sans-serif;
        font-size: 18px;
        margin-right: 20px;
        width: 111px;
        height: 36px;
        color: #ecf0f1;
        text-decoration: none;
        background-color: transparent;
        border: 1px solid #ecf0f1;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
    }
    
    .med__button:hover {
        border: 1px solid #2d2d2d;
        background-color: #2d2d2d;
    }

}